<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.x
sd">
    <event name="catalog_product_save_before">
        <observer name="save_custom_data" instance="Magenest\Movie\Observer\BeforeProductSave"/>
    </event>
</config>